*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 html{
     font-size: 62.5%;
     font-family: 'Acme', sans-serif;
     font-family: 'DM Sans', sans-serif;
     font-family: 'IBM Plex Sans', sans-serif;
     font-family: 'Montserrat', sans-serif;
     font-family: 'Roboto', sans-serif;
     scroll-behavior: smooth; 
 }

 header {
    display: flex;
    justify-content: center;
 }
 h1 {
    font-size: 7rem;
    color: navy;
 }

 h2 {
   font-size: 5rem;
   color: navy;
}

 hr {
  background-color: navy;
  height: 10px;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  width: 80%;
  border-radius: 300px/10px;
 }

 body {
    margin-top: 100px;
 }

 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 20px;
 }

 .container img {
    border-radius: 20px;
    margin: 20px;
    width: auto;
    height: 550px;
 }

 .doggie-button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    padding: 12px;
    width: auto;
    height: auto;
    background-color:lightcyan;
    color: navy;
    border-radius: 10px;
 }

 .fav-button {
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: 3rem;
   padding: 12px;
   width: auto;
   height: auto;
   background-color:lightcyan;
   color: navy;
   border-radius: 10px;
}